.topHeader {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #E6E4E3;
 }
 

 .savingsBarCharttooltip {
   width: 29rem;
   height: 20rem;
   background: white;
   z-index: 300;
   border-radius: 5px;
   padding: 1rem;
   background: #e6e6e6;
   box-shadow:  20px 20px 60px #c4c4c4, 
                -20px -20px 60px #ffffff;
 }
 .incomeCharttooltip {
   width: 29rem;
   height: 20rem;
   background: white;
   z-index: 300;
   border-radius: 5px;
   padding: 1rem;
   /* background: #e6e6e6;
   box-shadow:  20px 20px 60px #c4c4c4, 
                -20px -20px 60px #ffffff; */
 }

 .title-row {
   display: flex;
   height: 2rem;
   padding: 1rem;
   font-size: 1.2rem;
   font-weight: bold;
 
 }
 .row {
   display: flex;
   height: 4rem;
   width: 100%;
   justify-content: space-between;
 }
 
 .box {
   padding: 1rem;
   justify-content: space-between;
   display: flex;
   height: 4rem;
   width: 14rem;
   border-bottom: 1px solid #E6E4E3;
   align-items: center;
 }
 
 .value {
   font-weight: 700;
 }
 
 .chart {
   background: yellow;
 }

 .areaLineRect {
   fill: yellow;
 }